* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.img {
  background-image: url("https://1.bp.blogspot.com/-AagZMhr7WRo/YOFdJCRo8tI/AAAAAAABCfM/N5cfCE0lNlESkhRLty1vsqMfin3GcLX5ACLcBGAsYHQ/w360-h640/Pato%2BAmarelo%2Bcom%2BFolha%2Bna%2BCabe%25C3%25A7a_1080x1920.jpg");
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 50vw;
  background-size: 100% 100%;
  border: 2px solid violet;
}

.counter {
  background-image: conic-gradient(
    rgb(235, 86, 86),
    rgb(243, 243, 102),
    rgb(115, 241, 115),
    rgb(114, 114, 241),
    rgb(235, 86, 86)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  border: 2px solid violet;
}

button {
  background-color: gold;
  border-radius: 50%;
  border: 3px solid whitesmoke;
  margin-right: 2vh;
  width: 50px;
  height: 50px;
  margin-top: 5vh;
}
